/* Legend */

.lifemap-legend {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    width: auto;
}

.lifemap-legend .legend-title {
    font-weight: bold;
    font-family: system-ui, sans-serif;
}

.lifemap-leaflet-cat-legend-swatch {
    padding-top: 3px;
}

/* Pie charts */

.lifemap-pie-divicon {
    background: transparent;
}


/* Misc */

.leaflet-layer canvas {
    cursor: default !important;
}