/* Legend */

.lifemap-legend {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    width: auto;
    right: 10px;
    bottom: 10px;
}

.lifemap-legend .legend-title {
    font-weight: bold;
    font-family: system-ui, sans-serif;
}

.lifemap-ol-cat-legend-swatch {
    padding-top: 3px;
}


/* Popup */

#lifemap-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 100px;
    cursor: auto;
}

#lifemap-popup:after,
#lifemap-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#lifemap-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

#lifemap-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

#lifemap-popup-closer {
    position: absolute;
    top: 2px;
    right: 8px;
}

#lifemap-popup-closer a {
    text-decoration: none;
    color: auto;
}


/*
#lifemap-popup-closer:after {
    content: "✕";
}*/

/* Pie charts */

.lifemap-pie-divicon {
    background: transparent;
}


/* Misc */

.ol-layer canvas {
    cursor: default !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
    z-index: 10 !important;
}